.lixo {
  width: 20px;
} 
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color:azure;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #cacaca;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color:mintcream;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
  
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #cacaca;
    border-radius: 30px;
    height: 40px;
    background-color:gainsboro;
    color: #000000;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color:#cacaca;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p {
    color:#3d3c3c;
    font-weight: bold;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.6;
  }
}